<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <ng-container *ngFor="let menu of menu.getMenus()">
    <li nz-submenu *ngIf="menu.children.length" [nzTitle]="menu.text" [nzIcon]="menu.icon">
      <ul>
        <li nz-menu-item *ngFor="let children of menu.children" [routerLink]="[children.link]">{{children.text}}</li>
      </ul> 
    </li>
    <li nz-menu-item *ngIf="menu.children.length === 0" [routerLink]="[menu.link]">
      <i nz-icon [nzType]="menu.icon"></i>
      <span>{{menu.text}}</span>
    </li>
  </ng-container>
</ul>
